.nav-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  font-size: 24px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
}

#tweeter {
  font-family: 'Bungee', cursive;
  font-size: 40px;
}

#new-tweet-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.fa-angles-down {
  color: red;
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .nav-container {
    margin-bottom: 250px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 1024px) {
  .nav-container {
    background-color: #EEB920;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  }
}
