.new-tweet {
  margin-left: 20px;
  margin-right: 20px;
}

#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 4px solid #545149;
  margin-top: 10px;
  margin-bottom: 4px;
}

label {
  font-weight: bold;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  border: 4px solid #4056A1;
}

.tweet-admin {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.over-limit {
  color: red;
}

textarea::-webkit-input-placeholder {
  display: flex;
  position:absolute;
  bottom: 10px;
  left: 16px;
  font-weight: bold;
}

.tweet-form {
  display: block;
  width: 100%;
}

/* Validation Error Styling */

.validation-error {
  display: none;
  border: 4px solid red;
  color: red;
  height: 2em;
  padding: 4px 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

div.validation-error i {
  color: red;
}


/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .new-tweet {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 130px;
    margin-right: 20px;
    padding: 20px;
    padding-left: 0px;
  }
}

/* Validation Error Styling for different device sizes */
@media only screen and (min-width: 1024px) and (max-width: 1363px) {
  .validation-error {
    height: 3.5em;
  }
}

@media only screen and (max-width: 671px) {
  .validation-error {
    height: 3.5em;
  }
}