
#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 4px solid #545149;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  border-color: #4056A1;
}

.tweet-admin {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

textarea::-webkit-input-placeholder {
  display: flex;
  position:absolute;
  bottom: 10px;
  left: 16px;
  font-weight: bold;
}


